<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js ">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js">
  </script>
  <meta charset="utf-8">

  <title>Mongoose</title>
</head>

<body>
  <div id="wrapper" class="container">
    <h1>Here is the  <%= animal.name %>  </h1>
    <form action="/mongooses/<%= animal.id %>" class="col-xs-4 col-md-4" id="form" method="post">
      <div class="form-group">
        <label for="name"><h4>animal name</h4></label>
        <input required type="text" class="form-control" id="name" name="name" value="<%= animal.name %>">

      </div>
      <label for="info">Info</label>
      <textarea class="form-control" name="info" rows="3"><%= animal.info %></textarea>
      <!-- <input type="text" name="name"> --><br>
      <button type="submit " class="btn btn-primary btn-lg active " role="button "> Save </button>
      <!-- <a href="edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">edit</a> -->
      <br> animal created at:
      <%= animal.created_at %><br>
        <a href="/mongooses" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">go back</a>
    </form>
    <!-- <h3>Edit <a href = "/mongooses/<%=animal.id%>/edit"> <%= animal.name %> </a></h3> -->

    <hr>

    <br>
  </div>
  <% if(typeof(errors) != 'undefined' ) { %>
    <% for (var x in errors) { %>
      <h3><%= errors[x].messages %></h3>
      <% } %>
        <% } %>
</body>

</html>
